<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:action="@{/loginSaving}" th:object="${user}" method="post">
        <label>
            <input type="text" th:field="*{login}" placeholder="Логин" required/>
        </label>
        <br />
        <label>
            <input type="text" th:field="*{first_name}" placeholder="Имя" required/>
        </label>
        <br />
        <label>
            <input type="text" th:field="*{last_name}" placeholder="Фамилия" required/>
        </label>
        <br />
        <label>
            <input type="password" th:field="*{password}" placeholder="Пароль" required/>
        </label>
        <br />
        <input type="submit"/>
    </form>
</body>
</html>