<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Incorrect login or password</title>
</head>
<body>
<h2>Something went wrong</h2>
<!--<div th:if="${incorrectLogin}">-->
<!--    <p th:texh="'No user with login ' + ${login} + ' '"> <a href="/signup">Create an account </a></p>-->
<!--</div>-->
<!--<div th:if="${!incorrectLogin}">-->
<!--    <p th:texh="'Incorrect passoword for login ' + ${login} + ' '"></p>-->
<!--</div>-->

<div>
    <p>BlaBlaBlaBla</p>
</div>

</body>
</html>