<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your order</title>
    <link rel="stylesheet" th:href="@{/css/order.css}">
</head>
<body>
    <table>
        <tbody>
        <tr th:if="${bookList.isEmpty()}">
            <td colspan="2"> No Books Available</td>
        </tr>
        <tr th:each="book : ${bookList}">
            <td><img th:src="@{'/img/' + ${book.getCover()}}"></td>
            <td class="under"><span class="title" th:text="${book.getTitle()}"> </span></td>
            <td class="under"><span class="author" th:text="${book.getAuthor()}"> Author </span></td>
            <td><span th:text="${book.getPrice()}"> Price </span></td>
        </tr>
        </tbody>
    </table>
</body>
</html>