<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/css/button.css}">
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
    <body>
        <form class="data" action="#" th:action="@{addUser}" th:object="${user}" method="post">
            <label>
                <input type="text" th:field="*{first_name}" placeholder="Фамилия" required/>
            </label>
            <br />
            <br />
            <label>
                <input type="text" th:field="*{last_name}" placeholder="Имя" required/>
            </label>
            <br />
            <br />
            <label>
                <input type="text" th:field="*{login}" placeholder="Логин" required/>
            </label>
            <br />
            <br />
            <label>
                <input type="password" th:field="*{password}" placeholder="Пароль" required/>
            </label>
            <br />
            <br />
            <input class="top" type="submit"/>
        </form>
    </body>
</html>