<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
    <body>
        <form action="#" th:action="@{addUser}" th:object="${user}" method="post">
            <label>
                <input type="text" th:field="*{first_name}" placeholder="Логин" required/>
            </label>
            <br />
            <br />
            <label>
                <input type="text" th:field="*{last_name}" placeholder="Имя" required/>
            </label>
            <br />
            <br />
            <label>
                <input type="text" th:field="*{login}" placeholder="Фамилия" required/>
            </label>
            <br />
            <br />
            <label>
                <input type="password" th:field="*{password}" placeholder="Пароль" required/>
            </label>
            <br />
            <br />
            <input type="submit"/>
        </form>
    </body>
</html>